@font-face {
    font-family: 'Autour One';
    src: url(../fonts/AutourOne-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Autour One';
    background: #ebdbb2;
    font-size: 1.2em;
}

#container {
    width: 600px;
    background: #ebdbb2;
    margin: 80px auto;
    border-radius: 5px;
    border: 1px solid #a89984;
}

.heading {
    color: #504945;
    text-align: center;
    position: relative;
    top: 50px;
}

.heading span {
    color: #fb4934;
}

#preview {
    background: #d79922; /* temperary */
    width: 200px;
    height: 200px;
    float: left;
}

#picker {
    width: 400px;
    height: 200px;
    background: #fabd2f; /* temperary */
    margin-left: 200px;

}

#slider {
    width: 520px;
    height: 20px;
    border-radius: 10px;
    background: #fb4934;
    /* temperary */
    margin: 20px 0px 0px 40px;
}

#slider::-moz-range-thumb {   /* fallback for firefox */
    background: #d5c4a1;     /* temperary */
    border-radius: px;
    cursor: pointer;
    appearance: none;
}

#slider::-webkit-slider-thumb { /* fallback for chrome, opera... */
    background: #d5c4a1; /* temperary */
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
}

.input {
    width: 520px;
    height: 40px;
    margin: 10px 40px 30px 40px;
    background: none;
    border: 1px solid #bdae93;
    text-align: center;
}
