@font-face {
  font-family: "Autour One";
  src: url(../fonts/AutourOne-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Autour One";
  background: #ebdbb2;
  font-size: 1.2em;
}

#container {
  width: 450px;
  background: #ebdbb2;
  margin: 250px auto;
  border: 1px solid #a89984;
}

.heading {
  color: #504945;
  text-align: center;
  position: relative;
  top: 230px;
}

.heading span {
  color: #fb4b34dc;
}

#preview {
  float: left;
}

#slider {
  width: 400px;
  height: 15px;
  border-radius: 50px;
  margin: 30px 0 20px 25px;
}

#slider::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
}

#slider::-webkit-slider-thumb {
  /* fallback for chrome, opera... */
  background: #d5c4a1;
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
}

.input {
  width: 400px;
  height: 40px;
  margin: 0px 0px 25px 25px;
  background: none;
  border: 1px solid #bdae93;
  text-align: center;
}
